################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/src/WebApi.Tests/obj
/src/WebApi.Tests/bin/Debug/net5.0
